<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hatlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hatlar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div *ngIf="yukleniyor" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Hatlar yükleniyor...</p>
    </div>

    <ion-text color="danger" *ngIf="hata">
      <p>{{ hata }}</p>
    </ion-text>

    <ion-list *ngIf="!yukleniyor && !hata">
      <ion-item *ngFor="let hat of hatlar">
        <ion-label>
          <h2>{{ hat.hatKodu }} - {{ hat.ad }}</h2>
          <p *ngIf="hat.aciklama">{{ hat.aciklama }}</p>
          <p>Kaynak: {{ hat.kaynak }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text *ngIf="!yukleniyor && !hata && hatlar.length === 0">
      <p>Henüz kayıtlı aktif hat bulunamadı.</p>
    </ion-text>
  </div>
</ion-content>