<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Duraklar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Duraklar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div *ngIf="yukleniyor" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Duraklar yükleniyor...</p>
    </div>

    <ion-text color="danger" *ngIf="hata">
      <p>{{ hata }}</p>
    </ion-text>

    <ion-list *ngIf="!yukleniyor && !hata">
      <ion-item *ngFor="let durak of duraklar">
        <ion-label>
          <h2>{{ durak.ad }}</h2>
          <p>Kod: {{ durak.durakKodu }}</p>
          <p *ngIf="durak.ilce">İlçe: {{ durak.ilce.ad }}</p>
          <p *ngIf="durak.mahalle">Mahalle: {{ durak.mahalle.ad }}</p>
          <p>Konum: {{ durak.enlem }}, {{ durak.boylam }}</p>
          <p>Kaynak: {{ durak.kaynak }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-text *ngIf="!yukleniyor && !hata && duraklar.length === 0">
      <p>Henüz kayıtlı aktif durak bulunamadı.</p>
    </ion-text>
  </div>
</ion-content>